<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:head>
	<meta charset="utf-8" />
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="estilo.css" type="text/css" media="screen"> 
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</wicket:head>
<body>
<wicket:extend>
	<div class="card">
		<div class="card-header">
			<h1 wicket:id="msg">[Mesangem aqui]</h1>
		</div>
		<div class="card-body">
			<div style="color:red" wicket:id="feedbackPanel"></div>
			<form wicket:id="formularioCadastro">
				<div class="row">
					<div class="form-group col-md-3">
			    		<Label for="inputEmail4" class="text2">Nome: </label> 
						<input wicket:id="nome" class="form-control" type="text" placeholder="Nome" />
					</div>
				    <div class="form-group col-md-3">
						<Label class="text2">Sobrenome: </label> 
						<input wicket:id="sobrenome" class="form-control" type="text" placeholder="Sobrenome" />
					</div>
					<div class="form-group col-sm-3">
						<Label class="text">Idade: </label>
						<input type="number" class="form-control" wicket:id="idade" />
					</div>
					<div class="form-group col-xs-3">
				        <Label class="text2">Data de Nascimento: </label><br />
						<input type="text" wicket:id="dtnascimento" class="form-data" placeholder="dd/MM/yyyy"/>
					</div>
					<div class="form-group col-md-3">  
						<Label class="text2">Genero: </label> 
				        <div wicket:id="gender">
					        <input wicket:id="sim" type="radio" name="group2" value="true"> Masculino</input>
					        <input wicket:id="nao" type="radio"  name="group2" value="false"> Feminino</input>
				        </div>
				    </div>
					<div class="form-group col-md-3">
						<Label class="text2">Telefone: </label>
						<input wicket:id="telefone" type="text" class="form-control" placeholder="Telefone" />
					</div>
					<div class="form-group col-md-3">
						<Label class="text2">Email: </label>
						<input wicket:id="email" class="form-control" type="text" placeholder="Email" />
					</div>
					<div class="form-group col-md-3">
						<Label class="text2">Endereço: </label>
						<input wicket:id="endereco" class="form-control" type="text" placeholder="Endereço" />
					</div>
			    	<div class="form-group col-md-3">
						<Label class="text2">Nacionalidade: </label><br />
						<span wicket:id="list">
						 <input wicket:id="idioms" type="checkbox" />
				       	 <span wicket:id="name">test</span> 
				        </span>
				    </div>
				    <div class="form-group col-md-3">
				    <Label class="text2">Comentario: </label>
				    	<textarea wicket:id="text" class="form-control" placeholder="Comentario..."></textarea>
				     </div>
				     <div class="form-group col-md-3">
				     	<button type="submit" wicket:id="submit" class="btn btn-primary" name="submit">Salvar</button>
				     </div>
				 </div>
			</form>	
		</div>
	</div>
<div class="container">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nome</th>
        		<th>Sobrenome</th>
        		<th>Idade</th>
        		<th>DtNascimento</th>
        		<th>Genero</th>
        		<th>Telefone</th>
        		<th>Email</th>
        		<th>Endereço</th>
        		<th>Estrangeiro</th>
        		<th>Comentario</th>
        		<th>Ações</th>
         	</tr>
    	</thead>
        <tbody wicket:id="theContainer2">
        	<tr wicket:id="list2">
        		<td wicket:id="nome" />
        		<td wicket:id="sobrenome" />
        		<td wicket:id="idade" />
        		<td wicket:id="dtnascimento" />
        		<td wicket:id="gender" />
        		<td wicket:id="telefone" />
        		<td wicket:id="email" />
        		<td wicket:id="endereco" />
        		<td wicket:id="idioms" />
        		<td wicket:id="text" />
        		<td class="text-center">
                	<a class="btn btn-default" rel="tooltip" title="Editar">
                		<i class="fas fa-pencil-alt"></i>
                	</a>
                	<a class="btn btn-default modal-confirm" title="Excluir">
                  <i class="fa fa-trash"></i>
                </a>
            	</td>
        	</tr>  
    </tbody>
  </table>
</div>

</wicket:extend>

</body>
</html>